@model IEnumerable<Kdg_MVC.Models.Instructor>

@{
    ViewBag.Title = "Index";
}

<h2>Instructor's List</h2>

<p>
    @Html.ActionLink("Add new Instructor", "Create")
</p>
<table id="instructors">
    <thead>
        <tr>
            <th>
                <strong>@Html.DisplayNameFor(model => model.FirstName)</strong>
            </th>
            <th>
                <strong>@Html.DisplayNameFor(model => model.LastName)</strong>
            </th>
            <th>
                <strong>@Html.DisplayNameFor(model => model.StartDate)</strong>
            </th>
            <th>
                <strong>@Html.DisplayNameFor(model => model.EndDate)</strong>
            </th>
            <th>
                <strong>@Html.DisplayNameFor(model => model.PayRate)</strong>
            </th>
            <th data-filterable="false"><strong>Actions</strong></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayRate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.InstructorID }) |
                @Html.ActionLink("Details", "Details", new { id = item.InstructorID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.InstructorID })
            </td>
        </tr>
    }

</table>
<script>
    $(document).ready(function () {
        $("#instructors").kendoGrid({
            dataSource: {
                pageSize: 20
            },
            filterable: {
                extra: false,
                mode: "row",
                operators: {
                    string: { contains: "Contains" }
                }
            },
            height: 550,
            groupable: true,
            sortable: true,
            pageable: {
                refresh: true,
                pageSizes: true,
                buttonCount: 5
            },
        });
    });
</script>
