@model IEnumerable<Kdg_MVC.ViewModels.AttendanceList>
@{
    ViewBag.Title = "Attendance";    
}

@if (Request.IsAuthenticated && User.IsInRole("Parent"))
{
    <h2>Overall attendance sheet for @ViewBag.FullName</h2>
    <p>Small data set</p>
    <p>@ViewBag.FullName was accounted for @ViewBag.DaysYes days and  skipped @ViewBag.DaysNo days. </p>
}

else
{
    <h2>Small data set only visible from "Parent" type account! </h2>
}

<table id="table">
    <thead>
        <tr> 
            @if (Request.IsAuthenticated && User.IsInRole("Admin"))
            {
                <th data-filterable="true">
                    <strong>@Html.DisplayNameFor(model => model.FullName)</strong>
                </th>
            }                                          
            <th data-filterable="false">
                <strong>@Html.DisplayNameFor(model => model.Date)</strong>
            </th>
            <th data-filterable="false">
                <strong>@Html.DisplayNameFor(model => model.isPresent)</strong>
            </th>
            <th data-filterable="false">
                <strong>@Html.DisplayNameFor(model => model.Notes)</strong>
            </th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>            
            @if (Request.IsAuthenticated && User.IsInRole("Admin"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
            }            
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isPresent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
        </tr>
    }
</table>
<script>
    $(document).ready(function () {
        $("#table").kendoGrid({
            dataSource: {
                pageSize: 20
            },            
            filterable: {
                extra: false,
                mode: "row",
                operators: {
                    string: { contains: "Contains" }
                }
            },
            height: 550,
            groupable: true,
            sortable: true,
            pageable: {
                refresh: true,
                pageSizes: true,
                buttonCount: 5
            },
        });
    });
</script>