@model IEnumerable<Kdg_MVC.Models.Children>

@{
    ViewBag.Title = "Index";
}

<h2>Children's List</h2>

<p>
    @Html.ActionLink("Add new Children", "Create")
</p>

<table id="table">
    <thead>
        <tr>
            <th>
                <strong>@Html.DisplayNameFor(model => model.FirstName)</strong>
            </th>
            <th>
                <strong>@Html.DisplayNameFor(model => model.LastName)</strong>
            </th>
            <th>
                <strong>@Html.DisplayNameFor(model => model.CNP)</strong>
            </th>           
            <th data-filterable="false">
                <strong>Actions</strong>
            </th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CNP)
            </td>         
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CID }) |
                @Html.ActionLink("Details", "Details", new { id = item.CID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CID })
            </td>
        </tr>
    }

</table>

<script>
    $(document).ready(function () {
        $("#table").kendoGrid({
            dataSource: {
                pageSize: 20
            },
            filterable: {
                extra: false,
                mode: "row",
                operators: {
                    string: { contains: "Contains" }
                }
            },
            height: 550,
            groupable: true,
            sortable: true,
            pageable: {
                refresh: true,
                pageSizes: true,
                buttonCount: 5
            },
        });
    });
</script>